Read from remote host 192.168.1.218: Connection reset by peer
client_loop: send disconnect: Broken pipe
